body {
    background-color: powderblue !important;
}

.img {
    width: 300px;
    height: auto;
}

.mojaKlasa {
    text-align: center;
}

.scroll {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
}

html{
    scroll-behavior: smooth;
}